<div class="forgot__login">
  <h1 class="forgot__login--h1">
    <figure class="forgot__login--figure">
      <img src="/assets/icons/auth__navega--logo.svg" alt="Logo da Navega" />
    </figure>
  </h1>
  <h3 class="forgot__login--title">Esqueceu sua senha?</h3>
  <p class="forgot__login--text">
    Não se preocupe, vamos ajudar você a recupera-la
  </p>
  <form class="forgot__form">
    <fieldset class="forgot__fieldset">
      <app-input-auth-identifier></app-input-auth-identifier>
    </fieldset>
    <app-button></app-button>
  </form>
  <div class="forgot__forgot-password--container">
    <p class="forgot__login--text">
      Já possui uma conta?
      <span class="forgot__forgot-password--link" routerLink="/auth/login"
        >Acesse aqui</span
      >
    </p>
    <p class="forgot__login--text">Versão 0.0.1</p>
  </div>
</div>
