@import "../../../../../styles/abstracts/_variables.less";
.monthly-contribution {
  &__chart {
    &--container {
      display: flex;
      justify-content: center;
      margin: 16px 0;
    }
    &--badges {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 16px;
    }
  }
  &__accordions {
    border-top: solid 1px @gray-50;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__text {
    &--title {
      color: @gray-90;
      font-size: 20px;
      font-weight: 501;
      margin: 0;
      text-align: center;
    }
    &--text {
      color: @gray-90;
      font-size: 16px;
      margin: 0;
      text-align: center;
    }
  }
}
::ng-deep {
  .monthly-contribution {
    &__button {
      margin: auto;
      width: 312px !important;
    }
  }
}
