<div class="monthly-contribution__chart">
  <div class="monthly-contribution__chart--header">
    <p class="monthly-contribution__text--text">Total em contribuições</p>
    <p class="monthly-contribution__text--title">R$ 999.999,99</p>
  </div>
  <div class="monthly-contribution__chart--container">
    <app-chart-doughnut [data]="chartData" width="150px"></app-chart-doughnut>
  </div>
  <div class="monthly-contribution__chart--badges">
    <app-chart-badge
      color="#E22E6F"
      title="Contribuição mensal"
      value="R$ 499.999,99"
    ></app-chart-badge>
    <app-chart-badge
      color="#594CBE"
      title="Contribuição voluntária"
      value="R$ 499.999,99"
    ></app-chart-badge>
  </div>
</div>
<div class="monthly-contribution__accordions">
  <app-accordion
    *ngFor="let item of accordionData"
    [accordion]="item"
  ></app-accordion>
  <app-button
    class="monthly-contribution__button"
    label="Incluir contribuição"
  ></app-button>
</div>
