<div class="monthly-contribution__chart">
  <div class="monthly-contribution__chart--header">
    <p class="monthly-contribution__text--text">Total em contribuições</p>
    <p class="monthly-contribution__text--title" appValueMask>
      {{ contributionTotals.total | currencyFormat }}
    </p>
  </div>
  <div class="monthly-contribution__chart--container">
    <app-chart-doughnut [data]="chartData" width="150px"></app-chart-doughnut>
  </div>
  <div class="monthly-contribution__chart--badges">
    <app-chart-badge
      [color]="chartColors[0]"
      title="Contribuição mensal"
      [value]="contributionTotals.monthlySum"
    ></app-chart-badge>
    <app-chart-badge
      [color]="chartColors[1]"
      title="Contribuição voluntária"
      [value]="contributionTotals.volunteerSum"
    ></app-chart-badge>
  </div>
</div>
<div class="monthly-contribution__accordions">
  <app-accordion
    *ngFor="let item of accordionData"
    [accordion]="item"
  ></app-accordion>
  <app-button
    class="monthly-contribution__button"
    label="Incluir contribuição"
  ></app-button>
</div>
