<header class="header">
  <div class="header__top">
    <div class="header__container header__container--flex">
      <figure class="header__avatar--figure">
        <img src="/assets/images/avatar.png" alt="avatar do usuário" />
      </figure>
      <div class="header__icons--container">
        <i class="header__icons--icon pi pi-home"></i>
        <i class="header__icons--icon pi pi-eye"></i>
        <i class="header__icons--icon pi pi-sync"></i>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__container header__container--border">
      <div class="header__nav--container" (click)="notifyClick()">
        <i class="pi pi-arrow-left"></i>
        <span>Meu plano</span>
      </div>
    </div>
  </div>
</header>
