@import "../../../../styles/abstracts/_variables.less";

.auth {
  min-height: 100vh;
  display: flex;
  &__aside {
    background-color: @white;
    flex-grow: 1;
    max-width: 35%;
  }
  &__banner {
    background-image: url("/assets/images/auth__banner--bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    max-width: 65%;
    &--figure {
      margin: 64px auto 0;
      width: 100%;
      padding: 0 64px;
    }
    &--p {
      color: @white;
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
      text-align: center;
    }
  }
}
