<section class="auth">
  <div class="auth__aside">
    <!-- <div class="auth__login">
      <h1>
        <figure class="auth__login--figure">
          <img
            src="../../../../assets/icons/auth__navega--logo.svg"
            alt="Logo da Navega"
          />
        </figure>
      </h1>
      <h3>Boas-vindas ao Portal! Para começar, qual seu email ou CPF?</h3>
      <p>Precisamos desta confirmação para dar início ao seu acesso.</p>
      <form>Formulário</form>
      <div>
        <span>Esqueceu a senha? <a href="#">Acesse aqui</a></span>
        <p>Versão 0.0.1</p>
      </div>
    </div> -->
    <!-- <router-outlet></router-outlet> -->
  </div>
  <div class="auth__banner">
    <figure class="auth__banner--figure">
      <img
        src="/assets/images/auth__banner--img-app.png"
        alt="Janela do navegador com aplicação do Navega rodando de fundo, ao lado, um smartphone rodando o Navega."
      />
    </figure>
    <p class="auth__banner--p">Bem-vindo a seu novo Dashboard</p>
  </div>
</section>
