@import "../../../../styles/abstracts/_mixins.less";
.main {
  &__container {
    box-sizing: content-box;
    display: flex;
    gap: 0;
    justify-content: space-between;
    margin: 16px auto;
    max-width: 1140px;
    padding: 0 24px;
    transition: 0.3s;
    &--gap {
      gap: 16px;
    }
  }
  &__column {
    &--left {
      max-width: 368px;
      overflow: hidden;
      transition: 0.3s;
      width: 0;
      &.active {
        flex-grow: 1;
      }
    }
    &--right {
      flex-grow: 1;
    }
  }
}
.responsive(md, {
  .main{
    &__column{
      &--left{
        background-color: white;
        max-width: none;
        position: absolute;
        z-index: 1;
        width: 0;
        &.active{
          width: calc(100% - 48px);
        }
      }
    }
  }
});
