.main {
  &__container {
    box-sizing: content-box;
    display: flex;
    gap: 0;
    justify-content: space-between;
    margin: 16px auto;
    max-width: 1140px;
    padding: 0 24px;
    transition: .3s;
    &--gap {
      gap: 16px;
    }
  }
  &__column {
    &--left {
      max-width: 368px;
      overflow: hidden;
      transition: 0.3s;
      width: 0;
      &.active {
        flex-grow: 1;
      }
    }
    &--right {
      background-color: blue;
      flex-grow: 1;
    }
  }
}
